// color

$platinumClr: #eae6e3; // hero & form color

$gunmetalClr: #2e2c39;

$culturedClr: #f6f6f6;

$darkLiverClr: #55504c;

$borderClr: #ced4da;

$titleClr: #212529;

$textClr: #495057;

$lightTextClr: #dee2e6;

// font

$regular: 400;

$medium: 500;

$bold: 700;
